---
import Layout from '../../layouts/Layout3_en.astro';
import loyloyCatalog1 from '../../assets/img/loyloy_catalog1.png';
import loyloyCatalog2 from '../../assets/img/loyloy_catalog2.png';
import loyloyCatalog3 from '../../assets/img/loyloy_catalog3.png';
import loyloyCatalog4 from '../../assets/img/loyloy_catalog4.png';
import loyloyCatalogWorks from '../../assets/img/loyloy_catalog_works.png';

---

<Layout>
	<script>

    </script>

	<div class="container mx-auto px-4 animate__animated animate__fadeIn animate__slow">
		<div class="flex flex-col md:flex-row">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img class="md:hidden" class="" src={loyloyCatalog1.src} alt="">
                <img class="hidden md:block" class="" src={loyloyCatalogWorks.src} alt="">
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row md:items-center mt-12 ">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 id="fadein_element11" class="font-sans text-4xl font-bold">LOYLOY PRODUCT CATALOG 2026</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row md:items-center mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left">
				<p class="text-base font-serif text-gray-600">I created a product catalog for LOYLOY, a fair trade brand from Cambodia.</p>
                <p class="mt-3 text-base font-serif text-gray-600">I visited Tropeang Thom village—the home of the NPO earth tree. There, I took photos of the products, the craftsmans, and their factory.</p>
				<p class="mt-3 text-base font-serif text-gray-600">My goal was to show more than just the items; I wanted to highlight the beauty of the rattan, the skill of the makers, and the unique atmosphere of Cambodia.</p>
				<p class="mt-3 text-base font-serif text-gray-600">By handling everything from photography to design, I was able to give the entire catalog a consistent and beautiful look.</p>
			</div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img src={loyloyCatalog2.src}>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img src={loyloyCatalog3.src}>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img src={loyloyCatalog4.src}>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>


        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">launched</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">2026.01</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">duration</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">about 3 months</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">client</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">LOYLOY</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">tech stack:</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">
                <p>Canon EOS 80D（カメラ）/ InDesign / Photoshop / Illustrator </p>
            </div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3 pb-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">my role</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">photograph / design</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

	</div>
</Layout>


