---
import Layout from '../layouts/Layout3_jp.astro';
import myBackground from '../assets/img/sky.jpg';
import earthtreeFlyerWorks from '../assets/img/earthtree_flyer_works.png';
import akihirotamuraWeb1 from '../assets/img/akihirotamura_web1.png';
import earthtreeMuseum1 from '../assets/img/earthtree_museum1.png';
import journeyToTheUniverseWeb1 from '../assets/img/journey_to_the_universe_web1.png';
import loyloyCardWorks from '../assets/img/loyloy_card_works.png';
import loyloyCatalogWorks from '../assets/img/loyloy_catalog_works.png';
import loyloyFlyer1 from '../assets/img/loyloy_flyer1.png';
import loyloyFlyer2 from '../assets/img/loyloy_flyer2.png';
import sakuraSignboard1 from '../assets/img/sakura_signboard1.png';

---

<Layout>
	<script>
		import '../js/works.js';
    </script>

	<div class="py-15" style={`background-image: url('${myBackground.src}')`}>
        <div class="headline">
            <div id="ta01-main-text" class="p-2 ta01-text text-4xl md:text-6xl ">
                <span id="main-text01" class="ta01-char font-bold text-white" style="--char-index: 1"> w </span>
                <span id="main-text02" class="ta01-char font-bold text-white" style="--char-index: 2"> o </span>
                <span id="main-text03" class="ta01-char font-bold text-white" style="--char-index: 3"> r </span>
                <span id="main-text04" class="ta01-char font-bold text-white" style="--char-index: 4"> k </span>
                <span id="main-text05" class="ta01-char font-bold text-white" style="--char-index: 5"> s </span>
            </div>
        </div>
    </div>

    <div class="container mx-auto px-4 mt-12">

		<div id="web_systems" class="flex flex-col md:flex-row md:items-center mt-12 animate__animated animate__fadeIn animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 class="font-sans text-4xl font-bold">system development</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div class="flex flex-col md:flex-row mt-12 animate__animated animate__fadeIn animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-2/8">2019.10 〜 2021.02</div>
			<div class="w-full md:w-4/8">
				<p class="text-base font-serif text-gray-600">大手コンビニエンスストアのチケット販売サービス内のデータベース運用を担当しました。</p>
				<p class="mt-3 text-xs font-serif text-gray-600">【使用技術】SQL</p>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div class="flex flex-col md:flex-row mt-12 animate__animated animate__fadeIn animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-2/8">2022.04 〜 2024.03</div>
			<div class="w-full font-serif text-gray-600 md:w-4/8">
				<p class="text-base font-serif text-gray-600">豊洲市場の某仲卸店舗の販売および仕入れシステムの開発に、企画から運用まで一貫して従事しました。</p>
				<p class="mt-3 text-xs font-serif text-gray-600">【使用技術】HTML/ CSS/ JavaScript/ jQuery/ Bootstrap(FW)/ PHP/ Symfony(FW)/ SQL</p>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div class="flex flex-col md:flex-row mt-12 animate__animated animate__fadeIn animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-2/8">2024.12 〜</div>
			<div class="w-full font-serif text-gray-600 md:w-4/8">
				<p class="text-base font-serif text-gray-600">東京都内の個別指導塾のwebサイトの運用、並びに業務効率化ツールの開発を担当しています。</p>
				<p class="mt-3 text-xs font-serif text-gray-600">【使用技術】WordPress(CMS)/ Google Apps Script</p>
				<p class="mt-12 text-base font-serif text-gray-600">カンボジアのNPO法人の業務効率化ツールの開発を担当しています。</p>
				<p class="mt-3 text-xs font-serif text-gray-600">【使用技術】Google Apps Script</p>
				<p class="mt-12 text-base font-serif text-gray-600">coconalaで技術教育を行っています。</p>
				<p class="mt-3 text-xs font-serif text-gray-600">【使用技術】HTML/ CSS/ PHP/ SQL</p>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="web_designs" class="flex flex-col md:flex-row md:items-center mt-12 border-t-1 border-gray-600 pt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 id="fadein_element01" class="font-sans text-4xl font-bold opacity-0 animate__animated animate__slow">web designs</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div id="fadein_element02" class="w-full md:w-3/8 rounded-md opacity-0 animate__animated animate__slow">
				<div class="m-3">
					<a href="/works/journey_to_the_universe_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold"> JOURNEY TO THE UNIVERSE </p>
							<p class="mt-3 font-serif text-xs"> 太陽系について楽しく学べるWebサイトです。 </p>
							<img class="mt-3" src={journeyToTheUniverseWeb1.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div id="fadein_element03" class="w-full md:w-3/8 rounded-md opacity-0 animate__animated animate__slow">
				<div class="m-3">
					<a href="/works/akihiro_tamura_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold"> AKIHIRO TAMURA </p>
							<p class="mt-3 font-serif text-xs"> 俳優の田村陽大さんのwebサイトです。 </p>
							<img class="mt-3" src={akihirotamuraWeb1.src} alt="">
						</div>
					</a>
				</div>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="graphic_designs" class="flex flex-col md:flex-row md:items-center mt-12 border-t-1 border-gray-600 pt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 id="fadein_element04" class="font-sans text-4xl font-bold opacity-0 animate__animated animate__slow">graphic designs</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div id="fadein_element05" class="w-full md:w-3/8 rounded-md opacity-0 animate__animated animate__slow">
				<div class="m-3">
					<a href="/works/loyloy_catalog_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold"> LOYLOY PRODUCT CATALOG 2026</p>
							<p class="mt-3 font-serif text-xs"> カンボジア発の籐ブランドの商品カタログです。 </p>
							<img class="mt-3" src={loyloyCatalogWorks.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div id="fadein_element06" class="w-full md:w-3/8 rounded-md opacity-0 animate__animated animate__slow">
				<div class="m-3">
					<a href="/works/loyloy_flyer1_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold">LOYLOY Promotional Flyer 2025</p>
							<p class="mt-3 font-serif text-xs"> カンボジア発の籐ブランドの販売促進用フライヤーです。 </p>
							<img class="mt-3" src={loyloyFlyer1.src} alt="">
						</div>
					</a>
				</div>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="fadein_element07" class="flex flex-col md:flex-row mt-3 opacity-0 animate__animated animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
            <div class="w-full md:w-3/8 rounded-md">
				<div class="m-3">
					<a href="/works/loyloy_flyer2_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold">LOYLOY Business Flyer 2025</p>
							<p class="mt-3 font-serif text-xs"> カンボジア発の籐ブランドの法人用フライヤーです。 </p>
							<img class="mt-3" src={loyloyFlyer2.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div id="fadein_element08" class="w-full md:w-3/8 rounded-md opacity-0 animate__animated animate__slow">
				<div class="m-3">
					<a href="/works/earthtree_flyer1_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold">NPO法人 earth tree 日本旅講演 Flyer 2025</p>
							<p class="mt-3 font-serif text-xs"> カンボジアで活動するNPO法人の日本縦断講演会用のフライヤーです。 </p>
							<img class="mt-3" src={earthtreeFlyerWorks.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="fadein_element09" class="flex flex-col md:flex-row mt-3 opacity-0 animate__animated animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
            <div class="w-full md:w-3/8 rounded-md">
				<div class="m-3">
					<a href="/works/loyloy_card1_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold">LOYLOY 母の日ギフトカード 2025</p>
							<p class="mt-3 font-serif text-xs"> カンボジア発の籐ブランドの母の日限定商品のポストカードです。 </p>
							<img class="mt-3" src={loyloyCardWorks.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div id="fadein_element10" class="w-full md:w-3/8 rounded-md opacity-0 animate__animated animate__slow">
				<div class="m-3">
					<a href="/works/sakura_signboard_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold">さくらOne 個別指導塾 仙川校舎看板</p>
							<p class="mt-3 font-serif text-xs"> 東京・神奈川を拠点にする個別指導塾の校舎看板です。 </p>
							<img class="mt-3" src={sakuraSignboard1.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="fadein_element11" class="flex flex-col md:flex-row mt-3 opacity-0 animate__animated animate__slow">
			<div class="hidden md:block md:w-1/8"></div>
            <div class="w-full md:w-3/8 rounded-md">
				<div class="m-3">
					<a href="/works/earthtree_museum_jp">
						<div class="text-center p-3 font-sans bg-transparent text-gray-600 border border-gray-600 rounded hover:bg-gray-300 duration-500">
							<p class="font-sans font-bold">eart htree village 資料館 キャプションパネル</p>
							<p class="mt-3 font-serif text-xs"> カンボジアで活動するNPO法人の活動の歴史を展示する資料館のキャプションです。 </p>
							<img class="mt-3" src={earthtreeMuseum1.src} alt="">
						</div>
					</a>
				</div>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

	</div>
</Layout>


